html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.eos-command-search-input::placeholder {
  font-size: 0.75rem;
  color: currentColor;
  opacity: 0.72;
}
